[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/linyi1991/PunishLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/linyi1991/OtterGui.git
[submodule "raphael-rs"]
	path = raphael-rs
	url = https://github.com/Taurenkey/raphael-rs.git
